{erl_opts, [warn_unused_import, warn_export_vars, warnings_as_errors, verbose, report, debug_info]}.

{minimum_otp_vsn, "28"}.

{alias, [{test, [compile, fmt, hank, lint, xref, dialyzer]}]}.

{deps, [{mixer, "2.0.0", {pkg, inaka_mixer}}, trails]}.

{project_plugins, [{rebar3_hank, "~> 2.0.0"}, {erlfmt, "~> 1.8"}, {rebar3_lint, "~> 6.0"}]}.

{erlfmt, [write, {files, ["{src,test}/**/*.{erl,app.src}", "rel/sys.config", "*.config"]}]}.

{hank, [{ignore, ["_build/**", "_checkouts"]}]}.

{dialyzer, [{warnings, [no_return, underspecs, unmatched_returns, error_handling, unknown]}]}.

{xref_checks, [undefined_function_calls, deprecated_function_calls, deprecated_functions]}.

{xref_extra_paths, ["test/**"]}.

{shell, [{apps, [cowboy, trails, example]}, {config, "rel/sys.config"}]}.

{relx, [
    {include_src, false},
    {extended_start_script, true},
    {release, {example, "0.1"}, [example, sasl]},
    {sys_config, "rel/sys.config"},
    {vm_args, "rel/vm.args"}
]}.
