[
    {config, [
        #{
            files => ["src/**/*.erl"],
            ruleset => erl_files_strict,
            rules =>
                [
                    {elvis_style, no_invalid_dynamic_calls, #{ignore => [trails_handler]}},
                    {elvis_style, dont_repeat_yourself, #{min_complexity => 14}}
                ]
        },
        #{
            files => ["test/**/*.erl"],
            ruleset => erl_files_strict,
            rules =>
                [
                    {elvis_style, dont_repeat_yourself, #{min_complexity => 14}},
                    {elvis_style, no_god_modules, #{ignore => [trails_SUITE]}},
                    {elvis_style, max_function_length, disable},
                    {elvis_style, max_function_clause_length, disable},
                    {elvis_style, abc_size, disable}
                ]
        },
        #{
            files => ["rebar.config"],
            ruleset => rebar_config
        }
    ]}
].
