[{elvis,
  [{config,
    [#{dirs => ["src", "test"],
       filter => "*.erl",
       rules =>
           [{elvis_style, invalid_dynamic_call, #{ignore => [trails_handler]}},
            {elvis_style, dont_repeat_yourself, #{min_complexity => 14}},
            {elvis_style, god_modules, #{ignore => [trails_SUITE]}}],
       ruleset => erl_files},
     #{dirs => ["."],
       filter => "rebar.config",
       ruleset => rebar_config},
     #{dirs => ["."],
       filter => "elvis.config",
       ruleset => elvis_config}]}]}].
