%%% -*- mode: erlang; -*-
{erl_opts,
 [
  {src_dirs, ["src"]}
 ]
}.

{deps_dir, "deps"}.
{deps,
 [
  {cowboy,  "2.3.0"},
  {ranch,   "1.4.0"}
 ]
}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{profiles, [
            {test, [
                    {deps, [
                            {katana_test, "0.1.1"},
                            {mixer, "1.0.0", {pkg, inaka_mixer}},
                            {meck, "0.8.9"},
                            {xref_runner, "1.1.0"}
                           ]}
                   ]}
           ]}.

{xref_warnings, true}.
{xref_checks,
  [
    undefined_function_calls
  , locals_not_used
  , deprecated_function_calls
  , deprecated_functions
  ]
}.

{dialyzer, [ {warnings, [ no_return
                        , unmatched_returns
                        , error_handling
                        , unknown
                        ]}
           , {plt_apps, top_level_deps}
           , {plt_extra_apps, []}
           , {plt_location, local}
           , {base_plt_apps, [erts, stdlib, kernel]}
           , {base_plt_location, global}]}.
