
{erl_opts,
 [
  {src_dirs, ["src"]}
 ]
}.

{deps_dir, "deps"}.
{deps,
 [
  {cowboy,  ".*", {git, "https://github.com/ninenines/cowboy.git", "1.0.4"}},
  {ranch,   ".*", {git, "https://github.com/ninenines/ranch.git",  "1.2.1"}}
 ]
}.

{xref_warnings, true}.
{xref_checks,
  [
    undefined_function_calls
  , locals_not_used
  , deprecated_function_calls
  , deprecated_functions
  ]
}.
